{% extends "layouts/base.html" %}

{% block content %}
    <div class="d-flex">
        {% include 'layouts/sidebar.html' %}
        <div class="w-100">
            {% include 'layouts/header.html' %}    
            <div class="my-3 mx-3">
                <h1>Dashboard TEst</h1>
                <!-- Cards -->
                <div class="col-3 card mx-3">
                    <h4 class="card-title text-primary mx-3">Character Event</h4>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div container>
                                <div class="row">
                                    <div class="col-9">                                         
                                        <div class="row"> Total Pulls </div> 
                                        <div class="row"> (stellar jade amt) </div>
                                    </div>
                                    <div class="col"> 2355 </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div container>
                                <div class="row">
                                    <div class="col-9">                                         
                                        <div class="row"> 5* Pity </div> 
                                        <div class="row"> Guaranteed at 90 </div>
                                    </div>
                                    <div class="col"> 39 </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div container>
                                <div class="row">
                                    <div class="col-9">                                         
                                        <div class="row"> 4* Pity </div> 
                                        <div class="row"> Guaranteed at 10 </div>
                                    </div>
                                    <div class="col"> 8 </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- Cards -->
                <div class="col-3 card mx-3">
                    <h4 class="card-title text-primary mx-3">Light Cone</h4>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div container>
                                <div class="row">
                                    <div class="col-9">                                         
                                        <div class="row"> Total Pulls </div> 
                                        <div class="row"> (stellar jade amt) </div>
                                    </div>
                                    <div class="col"> 2355 </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div container>
                                <div class="row">
                                    <div class="col-9">                                         
                                        <div class="row"> 5* Pity </div> 
                                        <div class="row"> Guaranteed at 90 </div>
                                    </div>
                                    <div class="col"> 39 </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div container>
                                <div class="row">
                                    <div class="col-9">                                         
                                        <div class="row"> 4* Pity </div> 
                                        <div class="row"> Guaranteed at 10 </div>
                                    </div>
                                    <div class="col"> 8 </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- Cards -->
                <div class="col-3 card mx-3">
                    <h4 class="card-title text-primary mx-3">Standard</h4>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div container>
                                <div class="row">
                                    <div class="col-9">                                         
                                        <div class="row"> Total Pulls </div> 
                                        <div class="row"> (stellar jade amt) </div>
                                    </div>
                                    <div class="col"> 2355 </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div container>
                                <div class="row">
                                    <div class="col-9">                                         
                                        <div class="row"> 5* Pity </div> 
                                        <div class="row"> Guaranteed at 90 </div>
                                    </div>
                                    <div class="col"> 39 </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div container>
                                <div class="row">
                                    <div class="col-9">                                         
                                        <div class="row"> 4* Pity </div> 
                                        <div class="row"> Guaranteed at 10 </div>
                                    </div>
                                    <div class="col"> 8 </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content%}